
<div class="body-image">
  <%= image_tag "blog-bg.jpg", class: "img-body"%>
  <div class="body-text">
    <span id="first-text"> Let Your Mind Outta Here</span>
    <div class="about-body">
      <%= link_to "Get Started", blogapp_about_path%>
    </div>
  </div>
</div>


